<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>

	<% include ../partials/style %>

	<style>
		#nav_deals{
			color: white;
		}
	</style>

</head>

<body>
	<header>
		<% include ../partials/header %>
	</header>

 

<!-- Footer -->
<% include ../partials/footer %>
<!-- Footer -->

</body>
</html>